<a href="https://colab.research.google.com/github/brainmentorspvtltd/MAIT_FDP_2023/blob/main/HandlingMissingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("sachin.xlsx")

In [3]:
df.shape

(347, 14)

In [4]:
df.isna().sum()

Runs                   0
Mins                   0
BF                     0
4s                     0
6s                     0
SR                     0
Pos                    0
Dismissal              0
Inns                   0
Opposition             0
Ground                 0
Start DateAscending    0
Match Number           0
Result                 0
dtype: int64

In [5]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start DateAscending,Match Number,Result
0,11,92,-,-,0,-,6,lbw,1,v Sri Lanka,Chandigarh,1990-11-23,Test # 1156,Won
1,50,158,118,6,0,42.37,4,caught,1,v England,Kolkata,1993-01-29,Test # 1211,Won
2,9,17,19,2,0,47.36,4,not out,4,v England,Kolkata,1993-01-29,Test # 1211,Won
3,165,361,296,24,1,55.74,4,caught,1,v England,Chennai,1993-02-11,Test # 1213,Won
4,78,285,213,10,0,36.61,4,lbw,2,v England,Mumbai,1993-02-19,Test # 1214,Won

In [6]:
df['Runs'].dtype

dtype('O')

In [9]:
# df['BF'].astype('int32')

In [10]:
pd.value_counts(df['Runs'])

DNB    17
0      15
8      12
1      11
15     10
       ..
86      1
51      1
39      1
29      1
146     1
Name: Runs, Length: 126, dtype: int64

In [15]:
df = df[df['Runs'] != "DNB"]
df = df[df['Runs'] != "TDNB"]

In [16]:
# pd.value_counts(df['Runs'])

In [17]:
df['Runs'] = df['Runs'].astype('int32')

In [20]:
data = {
    "names" : ["Ram", "Shyam", "Gopal", "Manan", "Sumit", "Namit"],
    "age" : [30,45,np.nan,33,46,28],
    "salary" : [45000,56000,26000,70000,np.nan,34000]
}

df = pd.DataFrame(data)

In [21]:
df

   names   age   salary
0    Ram  30.0  45000.0
1  Shyam  45.0  56000.0
2  Gopal   NaN  26000.0
3  Manan  33.0  70000.0
4  Sumit  46.0      NaN
5  Namit  28.0  34000.0

In [22]:
df['age'].dtype

dtype('float64')

In [23]:
# Handling Missing Values
# 1. Drop rows that contains null values
# 2. Drop cols that contains null values more than threshold (like drop cols having more than 20% null values)
# 3. Handle Missing Values using any one strategy
  # a. use mean
  # b. use zero
  # c. use median / mode

In [33]:
# drop rows that contains nan
df.dropna(subset=['age'])

   names   age   salary
0    Ram  30.0  45000.0
1  Shyam  45.0  56000.0
3  Manan  33.0  70000.0
4  Sumit  46.0      NaN
5  Namit  28.0  34000.0

In [32]:
df.dropna()

   names   age   salary
0    Ram  30.0  45000.0
1  Shyam  45.0  56000.0
3  Manan  33.0  70000.0
5  Namit  28.0  34000.0

In [39]:
# drop cols that contains null values
df.dropna(axis=1)

   names
0    Ram
1  Shyam
2  Gopal
3  Manan
4  Sumit
5  Namit

In [42]:
df.dropna(subset=[2],axis=1)

   names   salary
0    Ram  45000.0
1  Shyam  56000.0
2  Gopal  26000.0
3  Manan  70000.0
4  Sumit      NaN
5  Namit  34000.0

In [43]:
# df.fillna(0, inplace=True)
df.fillna(0)

   names   age   salary
0    Ram  30.0  45000.0
1  Shyam  45.0  56000.0
2  Gopal   0.0  26000.0
3  Manan  33.0  70000.0
4  Sumit  46.0      0.0
5  Namit  28.0  34000.0

In [44]:
df['age'].fillna(df['age'].mean())

0    30.0
1    45.0
2    36.4
3    33.0
4    46.0
5    28.0
Name: age, dtype: float64