<a href="https://colab.research.google.com/github/brainmentorspvtltd/MAIT_FDP_2023/blob/main/PandasIntroduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Dataset_Sales.xlsx")

In [3]:
df.shape

(15000, 17)

In [4]:
df.head()

,Order ID,Order Date,Unit Cost,Price,Order Qty,Cost of Sales,Sales,Profit,Channel,Promotion Name,Product Name,Manufacturer,Product Sub Category,Product Category,Region,City,Country
0,7077,2013-03-18,76.094968,304.00,9,684.854710,2714.7200,2029.865290,Store,European Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Europe,Moscow,Russia
1,117,2012-02-23,7.491753,12.99,4,29.967011,50.1414,20.174389,Store,European Spring Promotion,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",MP4&MP3,Audio,Europe,Moscow,Russia
2,7018,2012-01-11,10.122338,159.99,9,91.101039,1395.1128,1304.011761,Store,European Spring Promotion,Contoso DVD 9-Inch Player Portable M300 Silver,"Contoso, Ltd",Movie DVD,"Music, Movies and Audio Books",Europe,Moscow,Russia
3,140,2014-02-13,0.576153,25.69,18,10.370759,462.4200,452.049241,Store,North America Spring Promotion,NT Bluetooth Stereo Headphones E52 Pink,Northwind Traders,Bluetooth Headphones,Audio,North America,Bellevue,United States
4,491,2013-01-17,108.508777,304.00,9,976.578991,2614.4000,1637.821009,Online,Asian Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Asia,Beijing,China

In [5]:
df.describe()

,Order ID,Unit Cost,Price,Order Qty,Cost of Sales,Sales,Profit
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,11209.316600,124.425132,296.514697,16.741733,1586.954833,3692.783986,2105.829152
std,6451.583877,163.569912,345.985232,43.490032,2408.961430,4917.886955,3387.145437
min,1.000000,0.001576,0.950000,4.000000,0.015756,4.750000,-838.426733
25%,5629.750000,16.847345,59.000000,9.000000,189.677420,645.000000,242.198732
50%,11238.500000,69.688876,205.000000,10.000000,752.752320,2301.175750,1012.683637
75%,16789.500000,164.348636,366.000000,13.000000,2006.030237,4767.720000,2573.128436
max,22352.000000,1896.133845,2899.990000,1560.000000,42991.137192,78312.000000,55692.569522

In [6]:
# check how many null values are there

In [7]:
df.isna().sum()

Order ID                0
Order Date              0
Unit Cost               0
Price                   0
Order Qty               0
Cost of Sales           0
Sales                   0
Profit                  0
Channel                 0
Promotion Name          0
Product Name            0
Manufacturer            0
Product Sub Category    0
Product Category        0
Region                  0
City                    0
Country                 0
dtype: int64

In [ ]:
# df['City' == np.nan]